
// Variables
$primary-color: #1a1a40;
$secondary-color: #ffffff;
$accent-color: #4a4aff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Kufi Arabic', sans-serif !important;
}



body {
    background-image: url(https://s3-alpha-sig.figma.com/img/92ee/87a3/466b5164ecf380f788679fd51c66c5be?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=g4uUM2G-OZIHWeOBxenTgJ5y46fR~m4txlH5r2myovLcG5pnAQmibTo7ZORQtAHoxLfRrFTbXNuBMkcaY51icewSvmxgzBtzlBN03kqUek~K-2sqozZmZJVVpVj0hZ~oVa4XU2~laeWajsE2cHkqWV2s5ARmKEkc60EEK~XJaeSWiEZt1VBfUKMDVe815I9sNyXfoJEoAwd7gw8EHp-RCVSRnELG1jn9jFTgITA7NRmb7Xodc8F1ll8~zklNxDBD8U2MeStaarDariu~LpxPOmNVOvZ~gTW59xFhir~JBsI64hhwQk0mknCWKoycb7mV9VX-F1fArk3spvZAxoPC4Q__);
    background-size: cover;
    background-position: center;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;

    .logo {
        :first-child {
            height: 50px;
            top: 10px;
            position: relative;
        }
        :last-child {
            height: 30px;
        }
    }

    .date {
        font-weight: bold;
    }
}



.white-container {
  background: white;
  width: 832px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  padding: 30px 20px;
}

.confirmation-text {
  font-size: 38px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  
}

.details-box {
  background: #ececec;
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 60px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.back {
  background-color: white;
  border: 2px solid #3f51b5;
  color: #3f51b5;
}

.confirm {
  background-color: #3f51b5;
  color: white;
}


.back:active {
  background-color:  #3f51b5;
  color: white;

}

.confirm:active{
  color:#3f51b5;
  background-color: white;
  border: 2px solid #3f51b5;

}